##Ans 01

- The two value of boolen data type are True or False
- True
- False
In python internally True is treated as 1 and False is treated as 0.

### Ans 02
*3 different type of boolen operator*
- If we use boolen operater than we get result as False/True
- `and`  - check both operad is true then return True else False 
- `or` - if 1 operand is true return True else False
- `not` - it negate the result if operand return true then it will return False

example; a = 1, b= 3
-  a > 4  and b < 1 ->False

-  a > 4  or b > 1-> True, 
  
-  not(a > 4) -> True

## Ans 03 
### Truth Table for `and`

----------------------------------
| A | B | `and` |
|:-:|---|--------|
| 0 | 0 | 0      |
| 0 | 1 | 0      |
| 1 | 0 | 0      |
| 1 | 1 | 1      |

### Truth Table for `or`
--------------------------
| A | B | `or`   |
|:-:|---|--------|
| 0 | 0 | 0      |
| 0 | 1 | 1      |
| 1 | 0 | 1      |
| 1 | 1 | 1      |


### Truth table for  `not`
-------------------------
| A |`not`| 
|:-:|-----|
| 0 | 1   | 
| 1 | 0   |

## Ans 04

- (5>4) and (3==5)  -> False
- not(5>4)  -> False
- ( 5>4 ) or ( 3==5 ) - > True
- not(( 5>4 ) or ( 3==5 )) -> False
- (True and True) and (True==False) -> False
- (not(False) or (not True) -> True

In [1]:
print((5>4) and (3==5))
print(not(5>4))
print((5>4) or (3==5))
print(not((5>4) or (3==5)))
print(((True and True) and (True==False)))
print((not(False) or (not True)))

False
False
True
False
False
True

## Ans 05 
### Six Comparison operator


|Sr | Discreption       |Symbol| 
|:--|:----------------- |:-----|
| 1.|is equal           | `==` |
| 2.|is not equal       | `!=` |
| 3.|graeter than       | `>`  |
| 4.|greater than equal | `>=` |
| 5.| less than         | `<`  |
| 6.|less than equal    | `<=` |

## Ans 06
#### Difference between equal to and assignment operator
- equal to `==` compare the data 
- `==` operator is check that left hand side value is equal to the right hand side value. But in the assignment operator `=` it will assign right hand side value into the left hand side value. LHS value now treated as memory holder (variable of the RHS value).

- In `==` if both values are equal than it will return True else False

- eg. If you want to hold int value to variable a, b then we will use assignment operator like ->  a=10, b=20
- If you wanyt to check to variable a, b have the same value or not then we will use equal to opetrator `==`
- a==b it will either True or False

## Ans 07
### 3 block in the code is

1. First if 
2. Second if and then
3. else

In [2]:
spam=0 
if spam==10:
    print('aggs')
    if spam >5:
        print('bacon')
    else:
        print('ham')  
    print('spam')
print('spam')

spam

## Ans 08

In [3]:
spam = eval(input("Enter value: "))
if spam==1:
    print("Hello")
elif spam==2:
    print("Howdy")
else:
    print("Greetings!")

Enter value: 2
Howdy

## Ans 09

1. We are working in colab/jupyter notebook then interrupt the Kernal
2. By pessing crtr+C or Crtl+M
3. In coding we can use break keyword

## Ans 10
### Difference between break and continue
-  continue causes next iteration of the loop to run immeditlty.
- break terminate the loop and resume execution after the top.
- If case of nested loop it terminate the mostly nested loop and start execution after that loop.

## Ans 11
- range(10), range(0,10), and range(0,10,1)
- In the for loop all the three statement behave same
- all these three produce result - range(0,10)

## Ans 12

In [4]:
for i in range(1,11):
    print(i)

print()
num = 1
while num<11:
    print(num)
    num += 1

1
2
3
4
5
6
7
8
9
10

1
2
3
4
5
6
7
8
9
10

## Ans 13
- We can use sapm.becaon()